Body {  
    font-family: Calibri, Helvetica, sans-serif;  
    background-image: url(backgr.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
  }  
  button {   
         width: 10%;     
          padding: 10px;   
          margin: 1px 1px;      
          cursor: pointer;   
           }   
   input[type=text], input[type=password] {   
          width: 15%;   
          margin: 4px 0;  
          padding: 6px 20px;   
          display: inline-block;   
          border: 2px solid green;   
          box-sizing: border-box;   
      }  
